body,
button {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 25px;
}

.bg {
    background-image: url(img/0827h.jpg);
    background-size: cover;
    height: 100vh;
    transition: 3s;
}

.bg.black {
    background-image: none;
    background-color: black;
}

.bg.white {
    background-image: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bg.koucha {
    background-image: url(img/koucha.webp);
}

.bg.poteto {
    background-image: url(img/poteto.jpg);
}

.bg.beer {
    background-image: url(img/beer.webp);
}


.pc {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;

    figure {
        margin: 0;
    }
}

.txtbox {
    position: absolute;
    bottom: 25px;
    left: 25px;
    content: "";
    width: calc(100% - 110px);
    height: 250px;
    display: block;
    border: 5px solid red;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 25px;
}

.txt {
    margin-top: 0;
}

button {
    padding: 0 25px;
}